@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button, select {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100svh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

body {
  font-family: "Montserrat", serif;
  font-weight: 500;
  background: #F2F9FF;
  color: #101F21;
}

.wrapper {
  padding: 18px 0;
}

.container {
  max-width: 355px;
  margin: 0 auto;
}

.btn-green {
  padding: 21px 40px;
  text-transform: uppercase;
  background: #70B2B9;
  border-radius: 3.47px;
  color: #FFF;
  font-size: 11.79px;
  font-weight: bold;
  letter-spacing: 0.2px;
  box-shadow: 2.08px 2.08px 0 #548E94;
}
.btn-indigo {
  background: #82588B;
  padding: 17px 25px;
  font-size: 9.69px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 0.2px;
  border-radius: 2.85px;
  box-shadow: 2px 2px 0 #663D6F;
}

.rating {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 8px 8px 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating-wrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.rating-left h4 {
  font-size: 14px;
  line-height: 120%;
}
.rating-left h4 span {
  opacity: 0.4;
}
.rating-right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.rating-right__stars {
  width: 74px;
  display: none;
  align-items: center;
  gap: 3px;
}
.rating-right button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 1.5px solid #70B2B9;
  border-radius: 6px;
}
.rating-right button img {
  display: none;
}
.rating-right.active .rating-right__stars {
  display: flex;
}
.rating-right.active button img {
  display: block;
}
.rating-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 22px 0 60px;
  gap: 20px;
}
.rating-bottom p {
  max-width: 192px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.2px;
  color: #70B2B9;
}

.content {
  position: relative;
  z-index: 1;
}
.content h1 {
  font-size: 30.89px;
  font-family: "PragmaticaExt-Bold", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.content ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.content ul li {
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
}
.content ul li span {
  font-weight: 400;
}
.content .line {
  height: 1px;
  width: 141px;
  background: #70B2B9;
  margin: 18px 0 15px;
}
.content h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 13px;
}
.content h3 span {
  font-weight: 400;
}
.content .description {
  max-width: 178px;
  position: relative;
  z-index: 1;
  margin-bottom: 12px;
}
.content .description p {
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}
.content .description img {
  position: absolute;
  right: -25.95px;
  z-index: -1;
  bottom: 14px;
  transform: translateY(100%);
}
.content-bg {
  position: absolute;
  right: -18px;
  bottom: -19px;
  width: 194px;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */